.header__container{
    width: 100%;
    height: 7rem;
    background: black;
    position: fixed;
    top: 0pxs;
  }
  .sing{
    width: 50px;
    height: 50px;
    background-color: aqua;
    border-radius: 50%;
    border: 2px solid white;
  }