.sticks {
    margin-top: 20px;
    width: 50%;
    height: 100px;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(224, 167, 247);
}
.sticks-place {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.one-of-sticks {
    width: 200px;
    height: 200px;
    background-image: url('../images/paper.png');
    background-size:contain;
    margin: 10px;
    cursor: pointer;
    @media (max-width: 661px) {
        width: 140px;
        height: 140px;
        margin: 5px;
    }
    @media (max-width: 450px) {
        width: 100px;
        height: 100px;
    }
}
.sticksText {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
    color: rgb(0, 0, 0);
    @media (max-width: 661px) {
        font-size: 18px;
    }
    @media (max-width: 450px) {
        font-size: 14px;
    }
}
.stickers-anim {
    animation: 1.5s;
    animation-name: stick-animation;
    box-sizing: border-box;
}

@keyframes stick-animation {
    0% {
        border: 3px solid white
    }
    25% {
        border: 3px solid red
    }
    50% {
        border: 3px solid white
    }
    75% {
        border: 3px solid red
    }
}
.win-anim {
    animation: 1.5s;
    animation-name: win-animation;
    box-sizing: border-box;
}

@keyframes win-animation {
    0% {
        border: 3px solid green
    }
    33% {
        border: 3px solid white;
    }
    66% {
        border: 3px solid green
    }
}
.stats-sticks {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    color: white;
}

.input-name-sticks {
    width: 50%;
    
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    @media (max-width: 1400px) {
        width: 700px;
    }
    @media (max-width: 700px) {
        width: 100%;
    }
}
.input__question__sticks {
    display: flex;
    justify-content: space-evenly;
    color: white;
}
.sticks-form-line {
    margin-top: 5px;
    display: flex;
    position: relative;
    justify-content: center;
}
.input-in-form {
    width: 23.3%;
    @media (max-width: 1400px) {
        width: 300px;
    }
}
.stick-form-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

}
.sticks-form-button {
    font-size: 26px;
}
.sticks-title {
    color:white;
    font-size: 50px;
}
.sticks-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}
.sticks-form-main {
    width: 1400px;
    @media (max-width: 1400px) {
        width: 100%;
    }
}